# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Docker
*.tar

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Node (если будет фронт сборкой)
node_modules/

**/.gitkeep.txt
